.body {
    padding: 15%;
    background-color: #f3f2f2;
    font-size: small;
    line-height: 130%;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.body a {
    color: #f3f2f2;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    padding:10px 30px;
    font-size: medium;
}

.body a:hover {
    color: #d36f6f;
}
  
.body nav{
    position:fixed;
    top:0;
    left:0;
    background:#222;
    width:100%;
    height: 13%;
    display: inline-flex;
    align-items: center;
}

.body nav img{
    width: 7%;
    margin-left: 3%;
}


.section1 img{
    width: 50%;
}

.section1{
    display: flex;
}

.texts{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-content: center;
    margin-left: 3%;
}

.texts h1{
    margin-bottom: 5%;
    font-size: x-large;
}

.section2{
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 h1{
    margin-bottom: 15%;
    font-size: x-large;
    display: block;
}

.section2 h3{
    margin-bottom: 5%;
    font-size: large;
}

.section2 img{
    width: 40%;
}

.texts2{
    display: block;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    margin-right: 10%;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 h1{
    margin-bottom: 5%;
    font-size: x-large;
}

img{
    border-radius: 3%;
}

footer{
    background:#222;
    position: relative;
    bottom: 0;
    color: #f3f2f2;
    text-align: center;
}